/* ICP STYLE */
.icp {
    vertical-align: middle;
    transition: 400ms;
}

/* icp.gov.moe */
#icp-moe-icon {
    width: 25px;
}

#icp-moe-link {
    text-decoration: none;
    color: rgb(255, 0, 150);
}

#icp-moe-code:hover {
    color: rgb(0, 255, 0);
    background-color: black;
    border-radius: 3px;
}