body {
    background-image: url('https://cdn.jsdelivr.net/gh/CLASS5BYFZ/class5byfz.github.io/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-attachment: fixed;
}

#copyright {
    font-size: 17px;
    color: black;
}